*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(245, 199, 138); 
}
h1{
    background-color: #96d8f4;
    color: #c576e7;
    height: 6rem;
    line-height: 6rem;
    font-weight: bolder;
}
h3{
    background-color: #E5C1BD;
    color: #2d2d2d;
    height: 3rem;
    line-height: 3rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
}
.choice{
    border-radius: 50%;
    height: 158px;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    cursor: pointer;
    background-color: rgb(184, 70, 102);
}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.score_board{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 7rem;
    font-size: 1.5rem;
}
#user_score, #comp_score{
    font-size: 2.5rem;
}
.msg{
    margin-top: 3rem;
}
#msg{
    color: white;
    background-color: #5c173e;
    font-size: 1.5rem;
    display: inline;
    border-radius: 1.2rem;
    padding: 1rem;
}
